body {
  background-color: antiquewhite;
}

main h1 {
  color: chartreuse;
}

header {
  background: sienna;
  outline: black 1px solid;
}

span {
  color: red;
}

nav {
  background-color: red;
  outline: seagreen 3px solid;
}
#test {
  background: blueviolet;
}
/* li {
  list-style: none;
} */
